@rendermode InteractiveServer

<h4 class="card-header">Inbox</h4>

@if (@MessageCount > 0)
{
    <h4>You currently have @MessageCount messages from your employees.</h4>

}else
{
    <h4>No questions from employee. Have a good day!</h4>
}