@page "/employee-overview"

@rendermode InteractiveServer

<h1>Employees Overview</h1>

@if (_employees is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EmployeeQuickView Employee="_selectedEmployee"></EmployeeQuickView>
    <div class="row">
        @foreach (var employee in _employees)
        {
            <div class="col-6 col-lg-4 col-xl-3 col-xxl-3">
                <EmployeeCard EmployeeQuickViewClicked="ShowEmployeePopup" Employee="employee" />
            </div>
        }
    </div>
}